@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
:root{
    --color-primario: #45eba5;
    --color-secundario: #21aba5;
    --color-tercero: #1d566e;
    --color-cuarto: #163a5f;
    --color-quinto: #dadada;
    --color-rgba1: linear-gradient(to right, rgba(29, 86, 110, .7), rgba(22, 58, 95, .7));

}

html {
    scroll-behavior: smooth;
}

/**************HEADER*******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppons', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.boton {
    /* background: rgba(0, 0, 0, .6); */
    font-size: 20px;
    color: var(--color-tercero);
    border: 1.5px solid var(--color-tercero);
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    transition: ease-in-out .5s;
    text-align: center;
    text-transform: uppercase;
    background: none;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
    border-radius: 5px;
    text-decoration: none;
}
.boton:hover {
    background-color: var(--color-tercero);
    color: var(--color-primario);
}



.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;

}

.tituloIzquierda{
   text-align: left;
   margin-left: 100px;
}
.tituloDerecha{
    text-align: right;
    margin-right: 100px;
 }
/******SECCION SOBRE MI********/

#sobreMi {
    margin: 50px;
    padding-bottom: 1rem;
    /* height: 100vh; */
}

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedorSobreMi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.contenedorSobreMi .miImagen div {
     width: 60%;
    
}

.contenedorSobreMi .miImagen img {
    width: 60%;
    opacity: 0;
    
}

.contenedorSobreMi .textoSobreMi {
    width: 42%;
    margin: 20px;
}

.contenedorSobreMi .textoSobreMi p{
    opacity: 0;
    margin: 0 0 20px 0;
}




/* ------ ------ ------ ------ ------ ------ ------ 
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
 ------ ------ ------ ------ ------ ------ ------ */
@media (min-width:1200px) {
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:1199px) and (min-width:992px) {

    .contenedorSobreMi {

        margin: 50px 20px;

    }
    .contenedorSobreMi .miImagen{

        width: 90%;

    }
    .contenedorSobreMi .miImagen img {

        width: 70%;

    }
    .contenedorSobreMi .textoSobreMi {

        width: 60%;
        text-align: center;

    }
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:991px) and (min-width:768px) {
    .contenedorSobreMi {

        flex-direction: column;
        margin: 20px 10px;

    }
    .contenedorSobreMi .miImagen{

        width: 80%;

    }
    .contenedorSobreMi .miImagen img {

        width: 90%;

    }
    .contenedorSobreMi .textoSobreMi {

        width: 100%;
        text-align: center;

    }
}
/* ------ ------ ------ ------ ------ ------ ------
MOVIL (XS revisamos en 320px)
 ------ ------ ------ ------ ------ ------ ------*/
@media (max-width:767px) {
    #sobreMi {
        margin: 10px;
        
    }

    .contenedorSobreMi {

        flex-direction: column;
        margin: 20px 10px;

    }
    .contenedorSobreMi .miImagen{

        width: 100%;

    }
    .contenedorSobreMi .miImagen img {

        width: 90%;

    }
    .contenedorSobreMi .textoSobreMi {

        width: 100%;
        text-align: center;

    }
}


/******SERVICIOS********/

#servicios {
    padding-bottom: 5rem;
}

.contenedorServicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

.contenedorServicios .servicio {
    width: 25%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    margin: 0 20px 40px 20px;
    position: relative;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio p {
    margin-bottom: 20px;
    height: 180px;
}

.contenedorServicios .violeta {
    background: linear-gradient(to top, var(--color-secundario), var(--color-primario));
    box-shadow: 20px 15px 38px -12px rgba(184, 159, 87, 0.5);
}

.contenedorServicios .celeste {
    background: linear-gradient(to top, var(--color-cuarto), var(--color-tercero));
    box-shadow: 0 12px 30px 0 rgba(34, 55, 86, 0.5);
}

.servicio .ondas {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.servicio .icono {
    float: right;
}

/* ------ ------ ------ ------ ------ ------ ------ 
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
 ------ ------ ------ ------ ------ ------ ------ */
@media (min-width:1200px) {
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:1199px) and (min-width:992px) {
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:991px) and (min-width:768px) {
}
/* ------ ------ ------ ------ ------ ------ ------
MOVIL (XS revisamos en 320px)
 ------ ------ ------ ------ ------ ------ ------*/
@media (max-width:767px) {

    .contenedorServicios {
        margin: 0;
    }

    .contenedorServicios .servicio {
        width: 90%;
        
    }
}


/******MIS TRABAJOS********/

#misTrabajos {
    padding-bottom: 5rem;
}
.contenedorCarrusel{
    margin: 100px 0px 100px 0px;
}

button.owl-prev,
button.owl-next {
    font-size: 4rem !important;
}

button.owl-prev {
    margin-right: 3rem !important;
}

button.owl-prev:hover,
button.owl-next:hover {
    background: none !important;
}

#misTrabajos span {
    color: #ff502f !important;
}


/******PORQUE TRABAJAR CONMIGO********/

#porqueTrabajar {
    padding-bottom: 5rem;
}

.contenedorTrabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 50px;
}

.contenedorTrabajar .item {
    width: 28%;
    text-align: center;
    opacity: 0;
}

.contenedorTrabajar ul li {
    list-style: none;
    margin-top: 2rem;
}

.contenedorTrabajar ul li:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--color-tercero);
    letter-spacing: 2px;
}

.contenedorTrabajar ul li:nth-child(3) {
    line-height: 30px;
}

.contenedorTrabajar .item i {
    font-size: 5rem;
    color: var(--color-primario);
}

@media (max-width:680px) {
    .contenedorTrabajar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .contenedorTrabajar .item {
        width: 90%;
    }
    .contenedorTrabajar h3{
        margin: 0;
    }
    .contenedorTrabajar ul {
        width: 100%;
    }
}

#porqueTrabajar .av-container .av-visible{
    width: 28% !important;
}


/******BLOG********/

#blog {
    background-color: #f9f8eb;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.contenedorPublicaciones {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.contenedorPublicaciones .publicacion {
    width: 30%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
}

.contenedorPublicaciones .publicacion img {
    width: 100%;
    object-fit: fill;
}

.publicacion .boton {

    margin-left: 0;
}



.publicacion .contenidoBlog {
    width: 100%;
    padding: 10px;
}

.publicacion .contenidoBlog h4 {
    font-size: 1.5rem;
    margin: 0;
}

.publicacion .contenidoBlog p {
    line-height: 30px;
    margin: 15px 0;
}

@media (max-width:680px) {
    .contenedorPublicaciones {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedorPublicaciones .publicacion {
        width: 90%;
        margin-bottom: 2rem;
    }
}


/******QUE ESPERAS********/

#queEsperas {
    margin: 0;
    background-image: var(--color-rgba1), url(../img/bg-queEsperas.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenidoEsperas {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenidoEsperas h3 {
    margin: 0;
    color: #ffffff;
}
.contenidoEsperas .boton{
    color: var(--color-primario);
    border: 1.5px solid var(--color-primario);
    
}
.contenidoEsperas .boton:hover{
    border: 1.5px solid var(--color-tercero);
    
}



/******CONTACTO********/

#contacto {
    padding: 50px 0;
    background-color: #f9f8eb;
}

.formContacto {
    display: flex;
    padding: 50px;
}

.formContacto .informacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primario);
    border-right: 2px solid #000000;
    box-shadow: 7px 0px 11px -4px rgba(0, 0, 0, 0.75);
}

.formContacto .informacion h4 {
    font-size: 3rem;
    margin: 0;
    color: var(--color-tercero);
    letter-spacing: 3px;
}

.formContacto .informacion h5 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-tercero);
    letter-spacing: 5px;
}
.formContacto .informacion span{
    text-align: center;
}

.formContacto .formulario {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.formContacto .formulario h4{
    font-size: 25px;
    padding: 10px 0;
}

form {
    width: 60%;
    padding-left: 2rem;
}

input {
    margin-top: 1rem;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-primario);
    box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.33);
    padding: 10px;
    transition: .6s;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-tercero);
}

textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-bottom: 2px solid var(--color-primario);
    box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.33);
    padding: 10px;
    overflow: visible;
    resize: none;
    margin-top: 1rem;
}

textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--color-tercero);
}



.formulario .boton {
    
    font-size: 20px;
    color: var(--color-tercero);
    border: 1.5px solid var(--color-primario);
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    transition: ease-in-out .5s;
    text-align: center;
    text-transform: uppercase;
    background: none;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
    border-radius: 5px;
    text-decoration: none;
}
.boton:hover {
    background-color: var(--color-tercero);
    border: 1.5px solid var(--color-tercero);
    color: var(--color-primario);
}


@media (max-width:680px) {
    .formContacto{
        padding: 0;
    }
    #contacto h3 {
        margin: 20px 0;
    }
    .informacion {
       padding: 20px;
    }
    .formContacto {
        flex-direction: column;
        align-items: center;
    }
    .formContacto .informacion {
        width: 100%;
    }
    .formContacto .formulario {
        width: 100%;
    }
    form {
        width: 100%;
        padding: 0;
    }
    form input,
    form textarea {
        padding: 0 10px;
        margin-top: 10px;
    }
}


/******FOOTER********/

footer {
    background: var(--color-tercero);
    height: 250px;
    padding: 30px 0 30px 0;
    margin-bottom: 0;
}

.contenidoFooter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0;
}

.redesSociales li {
    list-style: none;
    margin-right: .5rem;
    padding: 10px 15px;
    border-radius: 3px;
    transform: rotateY(0);
    transition: ease-in-out .6s;
}

.redesSociales li:hover {
    background: var(--color-primario);
    transform: rotateY(360deg);
    transition: ease-in-out .6s;
}

.redesSociales li a i {
    font-size: 2rem;
    color: var(--color-primario);
}

.redesSociales li:hover a i {
    font-size: 2rem;
    color: var(--color-tercero);
}

.textoFooter p {
    color: var(--color-quinto);
    font-size: 20px;
    margin-bottom: 0;
}

.textoFooter span {
    color: var(--color-primario);
}

@media (max-width:680px) {
    footer {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenidoFooter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .contenidoFooter ul li a i {
        font-size: 1.5rem;
    }
    .textoFooter p {
        font-size: 1rem;
    }
}

.error{
    display: block;
    letter-spacing: 2px;
    padding: 5px 10px;
    margin-top: 5px;
    width: 100%;
    font-size: 10px;
    color: white;
    background: rgba(238, 41, 41, 0.7);
}