@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
:root{
    --color-primario: #45eba5;
    --color-secundario: #21aba5;
    --color-tercero: #1d566e;
    --color-cuarto: #163a5f;
    --color-quinto: #dadada;
    --color-rgba1: linear-gradient(to right, rgba(29, 86, 110, .3), rgba(22, 58, 95, .3));

}

body{
    background: var(--color-quinto);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
    animation: menuIn 2s ease-in-out;
    /* height: 4rem; */
}

.sticky{
    padding: 15px 100px;
    background: var(--color-tercero);
    -webkit-box-shadow: 0px -2px 14px 0px;
    -moz-box-shadow: 0px -2px 14px 0px;
    box-shadow: 0px -2px 14px 0px;
}

header .logo{
    position: relative;    
    color: var(--color-primario);
    font-weight: 700;
    color: var(--color-primario);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .logo1{
    
    height: 3rem;
    transition: 0.6s;
}

header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

header .menu li{
    position: relative;
    list-style: none;
    padding: 5px 10px;
    transition: .6s;
}
header .menu li:hover{
    background: var(--color-tercero);
    
}

header .menu li.active{
    background: var(--color-primario);
    /* border-bottom: 2px solid var(--color-cuarto); */
    
    
}
header .menu li.active a{
    color: var(--color-tercero);
}

header .menu li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-primario);
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.6s;
    font-size: 18px;
    text-transform: uppercase;
}
header .menu li:hover a{
   color: var(--color-primario);
}

header .cabezote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner{
    position: relative;
/*     -webkit-clip-path: circle(75.9% at 100% 15%);
    clip-path: circle(75.9% at 100% 15%); */
    width: 100%;
    height: 100vh;
    background: var(--color-rgba1), url(../img/bg-header.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.wave{
    position: absolute;
    bottom: 0;
}

.sticky .logo,
.sticky .menuMovil li a{
    color: var(--color-primario);
}

.sticky .menu li:hover{
    background: var(--color-primario);
}
.sticky .menu li:hover a{
    color: var(--color-tercero);
}
/* .sticky .active li{
    background: var(--color-primario);
    color: var(--color-tercero);
} */

/* ------ ------ MENU HAMBURGUEZA ------ ------ */

.toggle{
    /* background: #ffffff; */
    /* display: block; */
    height: 40px;
    width: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.toggle span{
    
    width: 40px;
    height: 6px;
    background: var(--color-primario);
    transition: 0.6s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20);
    position: absolute;

    
}


.toggle span:nth-child(1){
    transform: translateY(12px);
}
.toggle span:nth-child(4){
    transform: translateY(-12px);
}

.toggle.active span:nth-child(1){
    transform: translateY(-25px);
    opacity: 0;
    transition: 0.5s;
}
.toggle.active span:nth-child(4){
    transform: translateY(25px);
    opacity: 0;
    transition: 0.5s;
}

.toggle.active span:nth-child(2){
    transform: rotate(45deg);
    transition-delay: .2s;
}
.toggle.active span:nth-child(3){
    transform: rotate(-45deg);
    transition-delay: .2s;
}

/* .sticky .toggle{
    height: 30px;
    width: 40px;
}
.sticky .toggle span{
    background: var(--color-primario);
    width: 40px;
}

.sticky span:nth-child(2){
    transform: translateY(4px);
}
.sticky span:nth-child(3){
    transform: translateY(-4px);
}
header.sticky .active span:nth-child(2) {
    transform: translateY(7px) rotate(45deg);
    transition-delay: .2s;
} */

@keyframes menuIn {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes menuOut {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* ------ ------ MENU MOVIL ------ ------ */

header .menuMovil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
    display: none;
    transition: 0.6s ease-out;
}
header .menuMovil li{
    position: relative;
    list-style: none;
}

header .menuMovil li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-tercero);
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.6s;
}

/* ------ ------ ------ ------ ------ ------ ------ 
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
 ------ ------ ------ ------ ------ ------ ------ */
@media (min-width:1200px) {
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:1199px) and (min-width:992px) {

    header{
        /* flex-direction: column;
        transition: 0.6s ease-in-out; */
        padding: 40px 35px;
    }
    .sticky{
        padding: 15px 35px;
    }
    header .menu li a{
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
}
/* ------ ------ ------ ------ ------ ------ ------
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
 ------ ------ ------ ------ ------ ------ ------ */
@media (max-width:991px) and (min-width:768px) {
    header{
        flex-direction: column;
    }
    header .menu{
        display: none;
    }
    header .menuMovil{
        padding: 40px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    header .menuMovil li{
        width: 100%;
        padding: 30px 100px;
        text-align: center;
    }
    header .menuMovil li a{
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: var(--color-primario);
        text-transform: uppercase;
    }
    .toggle{
        display: flex;
    }
   
}
/* ------ ------ ------ ------ ------ ------ ------
MOVIL (XS revisamos en 320px)
 ------ ------ ------ ------ ------ ------ ------*/
@media (max-width:767px) {
    .sticky{
        padding: 20px 20px;
        background: var(--color-tercero);
    }
    header .cabezote{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header{
        flex-direction: column;
        padding: 20px 20px;
    }
    header .menu{
        display: none;
    }
    header .menuMovil{
        
        padding: 40px;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    header .menuMovil li{
        width: 100%;
        padding: 30px 100px;
        text-align: center;
    }
    header .menuMovil li a{
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: var(--color-primario);
        text-transform: uppercase;
    }
    .toggle{
        display: flex;
    }
}
